.header .row {
  height: 70px;
}
.sdbox {
  height: 400px;

}
.main {
  height:800px;
  display: flex;
  flex-direction: column;

}
.border {
  border: 5px solid red;
}
.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}
.no-left-gutter {
  padding-left: 0px;
}
.no-right-gutter {
  padding-right: 0px;
}

.tweet-area {
  height: 90%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.border-black {
  border: 5px solid black;
}

.tweet-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tweet {
  display: flex;
  justify-content: center;

}